*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

header{
    width: 100%;
    background-color: #d9d9d9;
    padding: 16px 0;
}

.container{
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: #000;
    font-size: 21px;
    width: 100vw;
}

nav ul a:hover{
    color: #eb6206;
}

#navigator li{
    display: inline;
    margin-right: 16px;
}

@media screen and (min-width:641px) and (max-width:1023px) {
    #navigator ul{
        position:absolute;
        display: block;
        width: 100vw;
        flex-direction: column;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        padding: 16px;
        left: 0;
        top:97px;
        

        
    }

    #navigator ul li{
        display: block;
        padding: 5px;
        width: 100vw;
        text-align: center;
        margin: 0 auto;
        margin-right: 0;
        border-bottom: 1px solid #000;
        margin-left: -16px;
        
    }
    .menu a{
        display: block;
        width: 100%;
    }

}